@media screen and (min-width: 1px) and (max-width: 450px)  {
    .menu-wrap {
        display: block;
    }

    nav {
        display: none;
    }

    .logo {
        width: 10vw;
    }

}

@media screen and (min-width: 451px) and (max-width: 768px) {
    .menu-wrap {
        display: block;
    }

    nav {
        display: none;
    }

    .logo {
        width: 30vw;
    }
}


@media screen and (min-width: 769px) and (max-width:  1366px) {
    .menu-wrap {
        display: none;
    }

    nav {
        display: block;
    }
}

@media screen and (min-width:  1366px) and (max-width: 1440px) {
    .menu-wrap {
        display: none;
    }

    nav {
        display: block;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .menu-wrap {
        display: none;
    }

    nav {
        display: block;
    }
/* desctop */
}


@media screen and (min-width: 1921px) {

} 