* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #FEFFFC;
    color: #252525;
    line-height: 1.6;
    text-decoration: none;
    overflow-x: hidden;
    display: grid;
}

.f1 {
    width: 100vw;
    position: absolute;
}

/* Секция 0 плашка */
.section0_menu {
    width: 100vw;
    height: 5vw;
}

.titles {
    position: relative;
    text-align: center;
    padding-top: 3vw;
    /* padding-bottom: 2.5vw; */
}

.q1, .q2, .q3, .q4 {
    position: relative;
    text-decoration: none;
    color: #252525;
    padding-left: 3vw;
    font-family: RalewaySB;
    font-size: 0.8vw;
    font-weight: 400;
    display: inline-block;
}

.q1:hover, .q2:hover, .q3:hover, .q4:hover {
    font-weight: 650;
    font-size: 0.9vw;
}

.logo {
    text-decoration: none;
    color: #182809;
    margin-top: 3vw;
    padding-left: 3vw;
    font-family: Ruina;
    font-size: 1.7vw;
}

/* Секция 1 */
.section1_glav {
    width: 100vw;
    height: 55vw;
}

.glav_img2 {
    width: 95vw;
}

.glav_img {
    position: absolute;
    width: 90vw;
    height: 50vw;
    margin-left: 1.5vw;
}

.w1.1 {
    position: absolute;
}

.w1 {
    position: absolute;
    font-family: Ruina;
    font-size: 2.3vw;
    color: #D9D9D9;
    letter-spacing: 0.17vw;
    margin-top: -48vw;
    margin-left: 6vw;
}

.w2 {
    position: absolute;
    font-family: Ruina;
    font-size: 2vw;
    color: #D9D9D9;
    margin-top: -48vw;
    margin-left: 78.4vw;
}

.w3 {
    position: absolute;
    font-family: Raleway;
    font-size: 1vw;
    color: #D9D9D9;
    margin-top: -32vw;
    margin-left: 6vw;
    width: 22vw;
}

.w4 {
    position: absolute;
    font-family: RalewaySB;
    font-size: 1vw;
    color: #D9D9D9;
    margin-top: -27vw;
    margin-left: 6vw;
    width: 20vw;
}

.w5 {
    position: absolute;
    font-family: Raleway;
    font-size: 0.9vw;
    color: #D9D9D9;
    margin-top: -25vw;
    margin-left: 6vw;
    width: 22vw;
}

.btm_glav_pod {
    position: absolute;
    /* margin-top: -20vw;
    margin-left: 6vw;
    width: 22vw;
    border-radius: 5vw;
    border-color: #D9D9D9;
    opacity: 0.3vw; */
}

.btm_glav_pod2 {
    position: absolute;
    margin-top: -20vw;
    margin-left: 6vw;
    width: 8vw;
    height: 2vw;
    border-radius: 0.2vw;
    border-color: #D9D9D9;
    opacity: 0.7vw;
    font-family: Raleway;
    font-size: 0.9vw;
}

.section2_purpose {
    width: 100vw;
    height: 10vw;
    text-align: center;
}

.w6 {
    position: absolute;
    width: 28vw;
    margin-top: 1vw;
    margin-left: 36vw;
    text-align: center;
    font-family: RalewayM;
    font-size: 1.3vw;
    line-height: 1.9vw;
}

.section3_theath {
    width: 100vw;
    height: 22vw;
}

.e1 {
    margin-left: 8vw;
}

#e1 {
    position: absolute;
    width: 22vw;
    height: 13vw;
    background-color: #182809;
    background-image: url(../img/e2.png);
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.8vw 0.4vw #D9D9D9;
}

.e1_1 {
    font-family: RalewayM;
    font-size: 1.2vw;
    color: #D9D9D9;
    text-align: center;
    margin-top: 10vw;
}

.e1_11 {
    position: absolute;
    font-family: Raleway;
    width: 21vw;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #252525;
    margin-top: 14vw;
    padding-left: 1vw;
}

.e2 {
    padding-left: 38.5vw;
}

#e2 {
    position: absolute;
    width: 22vw;
    height: 13vw;
    background-color: #182809;
    background-image: url(../img/e1.png);
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.8vw 0.4vw #D9D9D9;
}

.e2_2 {
    font-family: RalewayM;
    font-size: 1.2vw;
    color: #D9D9D9;
    text-align: center;
    margin-top: 10vw;
}

.e2_22 {
    position: absolute;
    font-family: Raleway;
    width: 21vw;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #252525;
    margin-top: 14vw;
    padding-left: 1vw;
}

.e3 {
    margin-left: 69vw;
}

#e3 {
    position: absolute;
    width: 22vw;
    height: 13vw;
    background-color: #182809;
    background-image: url(../img/e3.png);
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.8vw 0.4vw #D9D9D9;
}

.e3_3 {
    font-family: RalewayM;
    font-size: 1.2vw;
    color: #D9D9D9;
    text-align: center;
    margin-top: 10vw;
}

.e3_33 {
    position: absolute;
    font-family: Raleway;
    width: 21vw;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #252525;
    margin-top: 14vw;
    padding-left: 1vw;
}

.section4_points {
    width: 100vw;
    height: 82vw;
}

.box1 {
    margin-left: 16vw;
}

.box1_1 {
    position: absolute;
    font-family: SGrotesk;
    width: 2vw;
    font-size: 4vw;
    color: #252525;
    margin-top: 2vw;
}

.box1_2 {
    position: absolute;
    font-family: RalewaySB;
    width: 40vw;
    font-size: 2.2vw;
    color: #252525;
    margin-top: 3.5vw;
    margin-left: 6vw;
}

.box1_3 {
    position: absolute; 
    height: 0.1vw; 
    width: 46vw;
    border: none; 
    border-top: 0.1vw solid #252525; 
    margin-top: 8vw; 
}

.box1_4 {
    position: absolute;
    font-family: RalewayM;
    width: 48vw;
    font-size: 1.2vw;
    color: #252525;
    margin-top: 10vw;
}

.box1_4_1 {
    position: absolute;
    font-family: RalewayM;
    width: 45vw;
    font-size: 1.2vw;
    color: #252525;
    margin-top: 10vw;
}

.box1_5 {
    position: absolute;
}

.box2, .box4 {
    margin-left: 37vw;
    padding-top: 20vw;
}

.box3 {
    margin-left: 16vw;
    padding-top: 20vw;
}

.section5_people {
    width: 100vw;
    height: 25vw;
    display: grid;
    grid-gap: 13vw;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}

.pok1 {
    position: absolute;
    width: 20vw;
    height: 15vw;
    margin-left: 10vw;
    margin-top: 2vw;
}

.pok2 {
    position: absolute;
    width: 20vw;
    height: 15vw;
    margin-left: 39vw;
}

.pok3 {
    position: absolute;
    width: 20vw;
    height: 15vw;
    margin-left: 72vw;
    margin-top: 2vw;
}

#boxx {
    width: 20vw;
    height: 15vw;
    background-color: #FEFFFC;
    border-color: #252525;
    border: 1vw;
    border-radius: 0.2vw;
}

#boxx2 {
    width: 23vw;
    height: 19vw;
    background-color: #182809;
    border-color: #252525;
    border: 1vw;
    border-radius: 2vw;
}

.boxx2 {
    padding: 1.5vw;
}

.peop_box {
    width: 5vw;
}

.peop_box2 {
    width: 6vw;
}

.name_per {
    width: 15vw;
    font-family: RalewaySB;
    font-size: 1vw;
    margin-left: 7vw;
    margin-top: -3vw;
}

.name_per2 {
    width: 15vw;
    font-family: RalewaySB;
    font-size: 1.5vw;
    margin-left: 7vw;
    margin-top: -4vw;
    color: #FEFFFC;
}

.country {
    width: 15vw;
    font-family: Raleway;
    font-size: 0.75vw;
    padding-bottom: 1vw;
    margin-left: 7vw;
    
}

.country2 {
    width: 20vw;
    font-family: Raleway;
    font-size: 0.9vw;
    padding-bottom: 1vw;
    margin-left: 7vw;
    color: #FEFFFC;
}

.line_per {
    width: 16vw;
}

.line_per2 {
    width: 20vw;
    color: #FEFFFC;
}

.text_per {
    width: 16.5vw;
    font-family: Raleway;
    font-size: 0.9vw;
    padding-top: 1vw;
}

.text_per2 {
    width: 20vw;
    font-family: Raleway;
    font-size: 1.2vw;
    padding-top: 1vw;
    color: #FEFFFC;
}


/* SECTION 7 */
.section7_articles {
    width: 100vw;
    height: 45vw;
}

.img_art_glav1 {
    
}

#img_art_glav1 {
    width: 20vw;
    height: 10vw;
    margin-left: 13vw;
    background-color: #D9D9D9;
}

#img_art_glav2 {
    width: 20vw;
    height: 10vw;
    margin-left: 13vw;
    background-color: #182809;
}

.artic1_glav {
    width: 45vw;
    margin-left: 39vw;
    padding-bottom: 3vw;
    margin-top: -10vw;
}

.art1_gl {
    font-family: RalewaySB;
    font-size: 1.3vw;
    color: #252525;
    padding-bottom: 1vw;
    
}

.art2_gl {
    font-family: Raleway;
    font-size: 1vw;
    margin-left: 4vw;
    padding-bottom: 0.5vw;
}

.pod_glav {
    font-family: Raleway;
    font-size: 0.9vw;
    color: #252525;
}



/* FINAL */
.section8_fin {
    width: 100vw;
    height: 15vw;
}

#fin_plashka {
    width: 100vw;
    height: 15vw;
    background-color: #182809;
    color: #FEFFFC;
    border-radius: 3vw 3vw 0vw 0vw;
}

.fin_plashka1 {
    width: 50vw;
}

.logo22 {
    position: absolute;
    text-decoration: none;
    color: #FEFFFC;
    padding-top: 1vw;
    padding-left: 3vw;
    font-family: Ruina;
    font-size: 2.5vw;
    letter-spacing: 0.2vw;
}

.tg {
    position: relative;
    width: 5vw;
}

.vk {
    position: relative;
    width: 4vw;
}

.social {
    position: absolute;
    padding-top: 6vw;
    padding-left: 2vw;
}

.tg1 {
    width: 4vw;
}

.vk1 {
    width: 5vw;
}

.fin_plashka2 {
    position: relative;
    width: 50vw;
    padding-top: 2vw;
    margin-left: 72vw;
}


.fin1 {
    color: #FEFFFC;
    text-decoration: none;
    font-family: RalewayM;
    font-size: 0.8vw;
    padding-left: 1.5vw;
}

.e-mail {
    color: #FEFFFC;
    text-decoration: none;
    font-family: RalewayM;
    font-size: 0.8vw;
    padding-top: 0.4vw;
    padding-left: 0.5vw;
}

#e-mail {
    width: 15vw;
    height: 2vw;
    background-color: #b5b4b4;
    border-radius: 0.6vw;
}

.btm_fin {
    width: 30vw;
    margin-top: 1vw;
    margin-left: 73.5vw;
}

.btm_fim {
    position: absolute;
    height: 2vw;
    width: 6vw;text-decoration: none;
    font-family: RalewayM;
    font-size: 0.8vw;
    padding-top: 0.2vw;
    margin-top: -2vw;
    margin-left: 16.2vw;
}

.line_fin {
    position: relative;
    margin-top: 5vw;
    color: #FEFFFC;
}

.box_fin {
    margin-top: -0.5vw;
}


.PoA {
    position: absolute;
    color: #FEFFFC;
    text-decoration: none;
    font-family: RalewayM;
    font-size: 0.8vw;
    padding-left: 1.5vw;
}


.NS {
    position: absolute;
    color: #FEFFFC;
    text-decoration: none;
    font-family: RalewayM;
    font-size: 0.8vw;
    margin-left: 88.5vw;
}