body {
    /* background: linear-gradient(to top, #896E3D 10%, #EEE9DE 100%); */
    background: #fbf8f0;
    min-height: 100vh;
    margin: 0;
    padding: 2vw;
    font-family: 'PT Root UI', sans-serif;
    overflow-x: hidden;
}

/* Навигация */
.logo {
    position: fixed;
    width: 10vw;
    left: 1.5vw;
    margin-top: -1.5vw;
}

nav {
    position: fixed;
    right: 1.5vw;
    margin-top: -1vw;
}

nav ul {
    list-style: none;
    padding: 0;
    /* background: #896E3D; */
    display: flex;
    border-radius: 0.5vw;
    overflow: hidden;
}
    
nav li {
    flex: 1;
    white-space: nowrap;
}
    
nav a {
    display: block;
    padding: 1vw 1.7vw;
    font-family: PragmaticaBlack;
    font-size: 1.1vw;
    font-style: blackbe;
    color: #896E3D;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s;
}
    
nav a:hover {
    background: #896E3D;
    color: #EEE9DE;
}
    
nav a[href="index.html"] {
    background: #896E3D;
    color: #EEE9DE;
    font-style: bold;
}

/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 1vw;
    right: 1vw;
    z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 1vw;
  right: 1vw;
  z-index: 2;
  cursor: pointer;
  width: 5vw;
  height: 5vw;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 1vw;
  right: 1vw;
  z-index: 1;
  width: 6vw;
  height: 6vw;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 5vw;
  height: 1vw;
  background: #896E3D;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -1.7vw;
  width: 5vw;
  height: 1vw;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 1vw;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 10vw;
  height: 10vw;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 0.5vw;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
